doctype html5
html
    head
        title Colegio Madre Gabriela de San Martin
        meta(charset='utf-8')
        link(rel='stylesheet', href='css/reset.css')
        link(rel='stylesheet', href='css/bootstrap.css')
        link(rel='stylesheet', href='style.css')
        link(rel='stylesheet', href='css/media-queries.css')
    body
        div#acerca_title
            div
                h2 PARTICIPACIÓN DEMOCRÁTICA
        div#acerca_content
            p Descripción del problema
            li.
                La actuación democrática de los estudiantes en
                la escuela se ha caracterizado por una ausencia
                del ejercicio democrático en los diferentes cuerpos
                colegiados para los cuales son elegidos.

        div#acerca_content
            p Justificación
            li.
                Responde a una necesidad de formación para la participación
                social.
            li.
                Despertar el espíritu crítico a partir de la participación
                en los diferentes cuerpos colegiados.
            li.
                Potenciar la construcción de textos publicitarios e
                interpretación de los mismos.

        div#acerca_content
            p Objetivo General
            li.
                Promover la participación democrática de los estudiantes
                desde el gobierno escolar como espacio de formación personal
                y colectiva.

        div#acerca_content
            p Objetivos Específicos
            li.
                Valorar la  importancia de la participación democrática.
            li.
                Participar activamente en las jornadas democráticas de la
                institución.
            li.
                Comprender e interiorizar el concepto de democracia.
            li.
                Fomentar la lectura y escritura a través de textos
                informativos.

        img(src='imgs/participacion.jpg')