doctype html5
html
    head
        title Colegio Madre Gabriela de San Martin
        meta(charset='utf-8')
        link(rel='stylesheet', href='css/reset.css')
        link(rel='stylesheet', href='css/bootstrap.css')
        link(rel='stylesheet', href='style.css')
        link(rel='stylesheet', href='css/media-queries.css')
    body
        div#acerca_title
            div
                h2 CUIDO MI CUERPO, ME ALIMENTO Y VIVO FELIZ
        div#acerca_content
            p Descripción del problema
            li.
                Familias que conviven en hacinamiento.
            li.
                Desconocimiento de factores de riesgo del abuso sexual.
            li.
                Dificultades nutricionales  y poca valoración del cuerpo.

        div#acerca_content
            p Justificación
            li.
                El proyecto pedagógico cuido mi cuerpo me alimento y
                vivo feliz busca mejorar  la calidad de vida de los niños,
                niñas y jóvenes  a partir de la creación de espacios
                reflexivos en torno a problemas tales como desnutrición,
                abuso sexual, embarazos a temprana edad que atentan contra
                el fortalecimiento de un verdadero proyecto de vida y
                sumerge a la población en un mayor grado de vulnerabilidad.

        div#acerca_content
            p Objetivos Específicos
            li.
                Crear espacios de interacción y reflexión  en la comunidad
                educativa para el cuidado de la salud.
            li.
                Reconocer la importancia de la alimentación sana  y
                equilibrada, así mismo crear hábitos relacionados con la
                correcta educación en la mesa.
            li.
                Orientar a los estudiantes en educación sexual.
            li.
                Sensibilizar al estudiante acerca de lo fundamental
                que es la práctica del deporte y las actividades físicas.  


        div#acerca_content
            p Objetivo General
            li.
                Propender  por el  desarrollo de competencias básicas
                para la toma de decisiones responsables y autónomas
                sobre el propio cuerpo, basadas en el respeto y  la dignidad
                del  ser humano.

