doctype html5
html
    head
        title Colegio Madre Gabriela de San Martin
        meta(charset='utf-8')
        link(rel='stylesheet', href='css/reset.css')
        link(rel='stylesheet', href='css/bootstrap.css')
        link(rel='stylesheet', href='style.css')
        link(rel='stylesheet', href='css/media-queries.css')
    body
        div#acerca_title
            div
                h2 CARTAGENERO SOY
        div#acerca_content
            p Descripción del problema
            li.
                El desconocimiento de de la historia  de la ciudad de
                Cartagena de indias, los estudiantes gabrielinos
                manifiestan ha generado poco aprecio por el legado
                cultural que posee por ello  la falta de sentido de
                pertenencia, falta de autenticidad, poco aprecio por
                el arte,  el folclor, las festividades de independencia
                y el cuidado del patrimonio de la ciudad. Tomando las
                tradiciones culturales como desorden, pensamientos
                antisociales y de conflictos entre ellos y entre las
                comunidades, dejando muchas veces consecuencias fatales.


        div#acerca_content
            p Justificación
            li.
                Fomentar el interés y el respeto por la identidad
                cultural de los cartageneros a partir del conocimiento
                de su historia buscando con ello generar sentido de
                pertenencia con la ciudad.


        div#acerca_content
            p Objetivo General
            li.
                Capacitar a la comunidad gabrielina en lo concerniente
                al patrimonio histórico cultural,  como desarrollo de un pueblo.


        div#acerca_content
            p Objetivos Específicos
            li.
                Integrar toda la comunidad educativa en el fortalecimiento
                da las tradiciones culturales a través de acciones artísticas,
                musicales y folclóricas.
            li.
                Valorar la importancia de los procesos históricos
                que antecedieron y aportaron un bagaje cultural a nuestra
                identidad.
