doctype html5
html
    head
        title Colegio Madre Gabriela de San Martin
        meta(charset='utf-8')
        link(rel='stylesheet', href='css/reset.css')
        link(rel='stylesheet', href='css/bootstrap.css')
        link(rel='stylesheet', href='style.css')
        link(rel='stylesheet', href='css/media-queries.css')
    body
        div#acerca_title
            div
                h2 MI ENTORNO
        div#acerca_content
            p Descripción del problema
            li.
                Falta de una cultura  ecológica notoria en: Uso inadecuado del
                agua, los servicios sanitarios y canecas.
            li.
                Destrucción de enseres y recursos naturales.
            li.
                Aparición de basureros en los alrededores de la institución.


        div#acerca_content
            p Justificación
            li.
                Unirnos a la preocupación mundial  por preservar el ambiente,
                utilizando el proyecto ambiental como estrategia valida  para
                recrear la lectura y escritura de textos descriptivos, fomentar
                la conciencia ecológica, aminorando el impacto negativo que las
                practicas cotidianas ejercen sobre el entorno.


        div#acerca_content
            p Objetivo General
            li.
                Promover en la I.E.M.G.S.M. una cultura de respeto basado
                en un programa que propenda por la preservación de nuestro
                ambiente escolar.


        div#acerca_content
            p Objetivos Específicos
            li.
                Crear una conciencia ecológica que permita dar el manejo adecuado
                a las basuras.
            li.
                Potenciar el sentido crítico ecológico a partir de las
                producciones textuales.
            li.
                Expresar con autonomía las reflexiones sobre su entorno.
