doctype html5
html
    head
        title Colegio Madre Gabriela de San Martin
        meta(charset='utf-8')
        link(rel='stylesheet', href='css/reset.css')
        link(rel='stylesheet', href='css/bootstrap.css')
        link(rel='stylesheet', href='style.css')
        link(rel='stylesheet', href='css/media-queries.css')
        link(rel="stylesheet" type="text/css" href="MyFontsWebfontsKit.css")
    body
        div.container
            header.headerContacto
                figure.pull-left#mainLogo
                    img(src='imgs/logo_menu.png')
                    figcaption Colegio Madre Gabriela

        div.container
            main.micontainer#contacto-section
                p.
                    Para cualquier tipo de consulta que desee realizarnos
                    llame a los teléfonos o diligencie el formulario.
                p.
                    Estamos a su disposición.

                div.info.col-lg-7
                    ul.col-lg-6
                        li.titulo Teléfonos:
                        li (+57 5) 656 7874
                        li (+57) 300 454 0036
                        li (+57) 300 479 6132

                    ul.col-lg-6
                        li.titulo Email:
                        li info@madregabriela.com

                    div.dir.col-lg-12
                        p.titulo Dirección:
                        p.
                            Duis ut purus hendrerit, pulvinar tortor id, congue lacus. Integer ultricies
                            Cartagena - Colombia

                form.col-lg-5(name="htmlform" method="post" action="html_form_send.php")
                    input(type="text", placeholder="Nombre", name="name", required = "required")
                    <span><br></span>
                    input(type="tel", placeholder="Teléfono", name="phone", required = "required")
                    <span><br></span>
                    input(type="email", placeholder="E-mail", name="email", required = "required")
                    <span><br></span>
                    textarea(placeholder="Mensaje", name="message", required = "required")

                    <span><br></span>
                    input(type="submit" value="Enviar")

        div.fondo