doctype html5
html
    head
        title Colegio Madre Gabriela de San Martin
        meta(charset='utf-8')
        link(rel='stylesheet', href='css/reset.css')
        link(rel='stylesheet', href='css/bootstrap.css')
        link(rel='stylesheet', href='style.css')
        link(rel='stylesheet', href='css/media-queries.css')
        link(rel="stylesheet" type="text/css" href="MyFontsWebfontsKit.css")
    body
        div.container
            header.header
                figure.pull-left#mainLogo
                    img(src='imgs/logo_menu.png')
                    figcaption Colegio Madre Gabriela
            div#pestanas
                ul
                    li#home: a(href='index.html') Home
                    li#nosotros: a(href='nosotros.html') Nosotros
                    li#lecturas: a(href='lecturas.html') Lecturas
                    li#estrategias.active: a(href='#') Estrategias
                    li#contacto: a.iframe(href='contacto.html') Contactános
            div.slider
                img(src="imgs/col.png")
        div.container
            main.micontainer
                section.col-lg-12#estrategias-section
                    h4 Estrategias pedagógicas
                    figure.col-lg-4
                        img(src="imgs/estrategias1.png")
                     figure.col-lg-4
                        img(src="imgs/estrategias2.png")
                     figure.col-lg-4
                        img(src="imgs/estrategias3.png")
                    div.col-lg-12
                        div.col-lg-4
                            h2.titulo BARRILETE GABRIELINO
                            p.cuerpo.
                                Estrechar lazos de comunicación y buena convivencia entre la familia
                                y la escuela a partir de la reflexión.
                        div.col-lg-4
                            h2.titulo DIRECCIÓN DE GRUPO
                            p.cuerpo.
                                Establecer espacios de orientación, reflexión y formación a través
                                de actividades dirigidas.
                        div.col-lg-4
                            h2.titulo ME DIVIERTO LEYENDO
                            p.cuerpo.
                                Generar el gusto por la lectura a partir de la escogencia espontánea
                                de textos.
                    div.col-lg-12.gotMargin
                        div.col-lg-4
                            h2.titulo ESCUELA PARA PADRES
                            p.cuerpo.
                                Sensibilizar a los padres para que comprendan que en la educación
                                de los hijos su apoyo es fundamental, ya que es tarea básica
                                de la familia fomentar la convivencia familiar.
                        div.col-lg-4
                            h2.titulo PROYECTO DE VIDA
                            p.cuerpo.
                                Generar interés por identificar las aptitudes que cada
                                uno posee y a través del fortalecimiento de ellas,
                                desarrollar procesos de crecimiento personal

    script(src='http://code.jquery.com/jquery-latest.min.js' type='text/javascript')
    script(src='js/script.js' type='text/javascript')
    <link rel="stylesheet" href="colorbox.css">
    <script src="jquery.colorbox-min.js"></script>