clrBckground = #EEEDE8

clrDarkGreen = #668049
clrLightGreen = #B6CFAA

clrGreen = green
clrLightGray = #f0f3f6
clrDeepGray = rgb(100,100,100)
clrGray = rgb(215, 218, 218)

clrBluishGray = #445061
clrBluishLightGray = #dde2e8


maxWidth = 1664px

vendor(prop, args)
  -webkit-{prop} args
  -moz-{prop} args
  -o-{prop} args
  -ms-{prop} args
  {prop} args

transition()
  vendor(transition, arguments)

user-select(value)
  vendor(user-select, value)

border-radius(amount)
  vendor(border-radius, amount)

border-top-radius(amount)
  vendor(border-top-left-radius, amount)
  vendor(border-top-right-radius, amount)

border-bottom-radius(amount)
  vendor(border-bottom-left-radius, amount)
  vendor(border-bottom-right-radius, amount)

border-left-radius(amount)
  vendor(border-top-left-radius, amount)
  vendor(border-bottom-left-radius, amount)

border-right-radius(amount)
  vendor(border-top-right-radius, amount)
  vendor(border-bottom-right-radius, amount)


body
  font-size 16px
  background-color clrBckground
  font-family: Anivers-Regular;

.header
  padding-top 17px
  overflow hidden
  max-width: maxWidth
  margin: 0 auto;
  background: url('imgs/icons.png') no-repeat right

#mainLogo
  height 145px
  overflow hidden
  margin-top: 20px;

#mainLogo img
  height 100%

#mainLogo figcaption
  display none

.nav
  margin-top: 30px;
  margin-right: 30px;

.nav-pills > li {
  float: none;
}

  .slider
    clear both
    width 100%
    height 475px
    //margin 17px auto
    //background-color clrDeepGray
    background-color white
    max-width: maxWidth

    padding: 20px 20px 0px 20px;
    border-radius: 5px;
    border-top-left-radius: 0px;
    border-top: 10px solid clrDarkGreen;
    border-bottom: 10px solid clrDarkGreen;
    z-index: 1;
    position: relative;
    overflow: hidden;

  .slider img
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;

  main section h4
    color white
    background-color clrLightGreen
    padding 10px
    padding-left: 40px
    margin-bottom: 40px;
    border-top-radius(5px)
    //text-align center
    font-size: 2.2em;

  .entry, .fullEntry
    width 100%
    height: 300px;
    padding: 35px 20px;
    margin 14px 0
    //background-color white
    //border-radius(5px)
    //box-shadow 0 2px 0 clrGray
    color black

  .fullEntry
    height auto
    min-height 400px
    display: inline-block;

  .fullEntry div.title
    display: inline-block;
    width: 68%;
    float: right;
    margin-bottom: 20px;

  .circleContainer
    width: 50%;
    max-width: 600px;
    min-width: 200px;
    max-height: 225px;
    min-height: 75px;
    margin-right 5%
    margin-left: -25%;

  .entryFigure
    background: #4EADA8;
    //padding: 1%;
    //width 25%
    //max-width 300px
    //min-width 100px
    //height 100%
    //max-height: 225px
    //min-height 75px
    overflow hidden


    width: 50%;
    height:0;
    padding-bottom: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;



  .entryFigure img
    width 100%
    //max-height 100%

  .fullEntryFigure
    width 30%
    max-width: 350px;
    height auto
    margin-right: 2%;

  .fullEntryFigure img
    width 100%
    max-height 100%

  .entryTitle
    margin 0
    float left
    font-size: 2.5em;

  .entryDate
    display block
    margin-bottom 4px
    font-weight bold
    float right

  .entry p
    width 60%
    float left
    height 145px
    margin 4px 0
    overflow hidden
    //text-align justify
    font-size: 1.5em;
    line-height: 35px;
    font-family: "libre_sans_serif_ssiregular"

  .fullEntry p
    margin 4px 0
    //overflow hidden //Si se le pone queda solo a la derecha d ela noticia. Probar si se ve completa
    text-align justify




  .readMore
    //float left
    color clrDarkGreen
    //background-color #428bca
    //border-radius 4px
    //padding 3 8
    font-size: 1.6em;
    position: relative;
    top: 198;
    left: -355;

  .readMore:hover
    //background-color #40739E
    color: clrDarkGreen;
    text-decoration: underline;


  .pageNavi
    text-align center
    margin 30px 0

  .pageNavi li
    display inline-block
    margin 10px 0
    padding: 4px;

  .pageNavi li.active
    background-color clrDarkGreen
    border-radius: 100%;

  .pageNavi li.active a
    background-color #BDBEC1
    border-radius: 100%;
    color white
    padding: 7px 15px;

  .pageNavi a
    padding 9px
    color clrDarkGreen

  /*  Lectures Styles */
.sideCat
  display block
  width 100%
  padding 6 8
  border-top-radius(4px)
  border-bottom 1px solid clrGray
  font-size 13px
  font-weight bold
  text-align center
  text-decoration underline
  color #428bca

.sideCat:hover
  background-color #40739E
  color #ffffff
  text-decoration none

.resalt
  display block
  width 100%
  border-top-radius(4px)

.resalt:hover
  color #ffffff
  text-decoration none
  border-radius: 5px;
  box-shadow: rgba(0,0,0,0.5) 5px 5px 20px;
  font-style: italic;
  padding: 0.6em 0.8em;
  text-shadow: rgba(0,0,0,0.5) 2px 2px 5px;

.resalt.active
  color #ffffff
  text-decoration none
  border-radius: 5px;
  box-shadow: rgba(0,0,0,0.5) 5px 5px 20px;
  font-style: italic;
  padding: 0.6em 0.8em;
  text-shadow: rgba(0,0,0,0.5) 2px 2px 5px;

.back
  width: 80%;
  margin: auto;

.sideCatDesc
  margin 4px 0 20px
  padding 4px 26px 0px
  font-size 16px
  text-align justify
  color clrDeepGray
  max-height: 100px;

/* SideBar Styles */

.sidebar-module h4
  background-color clrBluishLightGray
  padding 10px
  border-top-radius(5px)
  text-align center

.sidebar-module li
  background-color #ffffff
  border-radius(5px)
  box-shadow 0 2px 0 clrGray

.sidebar-module li figure
  background: red;
  width: 60px;
  height: 60px;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  margin-top 10px

#second-menu
  position relative
  left: 90%;
  margin-top: 192px;
  display: inline-block;

#second-menu li a
  background: white;
  border: 2px solid black;
  display: inline-block;
  width: 145px;




#color1
  background-color #ff0000

#color2
  background-color yellow

#color3
  background-color blue

#color4
  background-color: green

#categories
  width 100%
  display inline-block
  margin 45px 0

#categories > div
  background-color #B6CFAA

#categories > div > p
  font-size: 1.4em;
  line-height: 1.5em;
  font-style: italic;
  padding: 14px;

#categories >ul > li
  background: red;
  margin-bottom: 10px;
  padding: 3px 0;
  font-size: 1.6em;
  text-align: center;
  color white
  border-radius: 3px;

#categories >ul > li:hover
  cursor: pointer

#categories #pDemocratica
  background-color #8BC63E
#categories #entorno
  background-color #1A9B4C
#categories #miCuerpo
  background-color #12A79D
#categories #cartagenero
  background-color #0C5487



#tabs-categories
  padding-left: 0px;
  margin-bottom: -2px;

#tabs-categories li
  display inline-block
  padding: 6px;
  text-align center
  width: 32%;
  //background-color: #B6CFAA;
  //background-color: rgba(102,128,73,0.8);
  background-color: rgb(102,128,73);
  opacity 0.8
  margin-right: 2%;
  font-size: 2.1em;
  border-radius 3px

#tabs-categories li a
  color #DFEADA

#tabs-categories li:last-child
  margin-right 0

#tabs-categories > li.active
  //background-color: #668049
  background-color: rgb(102,128,73);
  opacity: 1
  //padding: 8px;
  //border-radius: 5px;

#tabs-categories > li.active a
  color: white;



#nosotros-section > div
  background-color white
  border-top: 11px solid #9e1f62;
  border-bottom: 11px solid #9e1f62;
  padding: 60px 45px 0;
  display: none
  -webkit-box-shadow: inset 0px 4px 4px 0px rgba(0,0,0,0.3), inset 0px -4px 4px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: inset 0px 4px 4px 0px rgba(0,0,0,0.3), inset 0px -4px 4px 0px rgba(0,0,0,0.3);
  box-shadow: inset 0px 4px 4px 0px rgba(0,0,0,0.3), inset 0px -4px 4px 0px rgba(0,0,0,0.3);


#nosotros-section div#quienesSomos
  display block

#nosotros-section .title
  color #9e1f62
  font-size 2em

#nosotros-section p
  font-size: 1.3em;

#nosotros-section li
  font-size: 1.3em;

#quienesSomos .descripcion
  width 100%

#quienesSomos h2
  text-align: center;

#quienesSomos #mision-vision
  width 100%
  display: inline-block;

#quienesSomos #mision-vision .mision
  padding 0

#quienesSomos #valores
  width 100%
  display: inline-block;

#quienesSomos p
  margin-bottom: 70px;

#quienesSomos #valores ul
  margin-left: 18px;
  width: 18%;

#quienesSomos #valores ul li
  list-style disc

#quienesSomos #valores figure
  width: 17%;
  margin-top: -50px;

#quienesSomos #valores figure img
  width: 100%




#objPol
  padding-top: 100px;

#objPol h2
  text-align: center;

#objPol ul
  margin-left: 18px;
  margin-bottom: 90px;

#objPol ul li
  list-style: disc;





#perfiles
  padding-top: 100px;

#perfiles p
  margin-bottom: 70px;

#perfiles h2
  text-align: center;

a.acerca
  padding-left: 26px;
  font-size 12px



#acerca_title
  border 1px black solid
  padding 9px
  display inline-block
  box-shadow: -8px 8px 5px BFBFBF;
  margin-left: 50px;
  margin-top: 50px;

#acerca_title div
  border 1px #99CC00 solid
  clear both

#acerca_title div h2
  color black
  font-weight bold
  margin: 11px 15px;

#acerca_content
  width 285px
  background-color #FEFECD
  border 4px #92D050 solid
  display inline-block
  box-shadow: -8px 8px 5px 808080;
  margin-left: 50px;
  margin-top: 50px;
  float left

#acerca_content p
  color black
  font-style italic
  font-size: 1.5em;
  text-align center
  margin-top 8px
  font-weight bold

#acerca_content li
  color black
  list-style-type:circle;
  margin-left 8px
  margin-right 8px
  font-weight bold

#acerca_name
  position relative
  top 100%
  left 0

#acerca_logo
  height 145px
  overflow hidden

#acerca_logo img
  height 100%





#pestanas {
  float: right;
  font-size: 1.5em;
  font-weight: bold;
  margin-right: 2em;
  margin-top: -12px;
}

#pestanas li{
  list-style-type: none;
  float: left;
  text-align: center;
  margin: 0px 2px -4px 0px;
  background: darkgrey;
  //border-top-left-radius: 5px;
  //border-top-right-radius: 5px;
  //border: 2px solid bisque;
  //border-bottom: dimgray;
  //padding: 0px 20px 0px 20px;
  padding: 15px 15px;
  width: 200px;
  border-radius: 4px;
  font-weight: normal;
}

#pestanas li.active{
  //position: relative
  //z-index 2
  text-decoration: underline;
}

#pestanas a{
  color: white;
}

#pestanas a:hover{
  //text-decoration: none;
  //color: blue;
  text-decoration: underline;
}

#pestanas ul #home
  background-color #F7941D

#pestanas ul #nosotros
  background-color #D91C5C

#pestanas ul #lecturas
  background-color #8CC63F

#pestanas ul #estrategias
  background-color #25AAE1



#pestanas ul #contacto {
  position: absolute;
  //right: 3.2em;
  right: 0;
  margin-right: 5em;
  top: 2em;
  background: none;
  border: none;
}

#pestanas ul #contacto a {
  background: #95A981;
  border-radius: 4px;
  //box-shadow: rgba(0,0,0,0.5) 1px 4px 20px;
  //font-style: italic;
  padding: 0.1em 0.8em;
  //text-shadow: rgba(0,0,0,0.5) 2px 2px 5px;
  box-shadow: 2px 3px 5px #888888;
}

.spaceBar
  //width 100%
  height 11px
  background-color clrDarkGreen
  margin: 0 20px;
  box-shadow: 2px -3px 5px #888;

.barra
  height 2px
  background-color #6C6D70



#nosotros-pestanas {
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 30px;
  margin-bottom 0
  display: inline-block;
  width: 100%;

}

#nosotros-pestanas li{
  list-style-type: none;
  float: left;
  text-align: center;
  margin: 0px 2% 0 0px;
  background: #D91C5C;
  //border-top-left-radius: 5px;
  //border-top-right-radius: 5px;
  //border: 2px solid bisque;
  //border-bottom: dimgray;
  //padding: 0px 20px 0px 20px;
  padding: 10px 15px;
  width: 32%;
  //border-radius: 4px;
}

#nosotros-pestanas li:last-child
  margin-right 0

#nosotros-pestanas li.active
  background-color #9E1F62

#nosotros-pestanas li.active a
  color white

#nosotros-pestanas a{
  color #E2A0A5
}

.micontainer
  margin: 0 5%;
  width: 90%;

.section-footer
  //background red
  height: 40px;
  margin-top 90px
  margin-bottom: 10px;

.section-footer > div
  display inline-block

.section-footer > div:hover
  //background-color #0000ff
  cursor: pointer
  font-size: 1.5em;

.section-footer > div > div
  background-color: #D91C5C;
  border-radius: 100%;
  padding: 4px;

.section-footer div > div > div
  background-color: #EEEDE8;
  border-radius: 100%;
  color: #D91C5C
  padding: 3px 9px;

.section-footer p
  color #DC3463
  margin-right 18px
  margin-left 18px
  margin-bottom 0 !important
  font-style: italic;

#lecturas-section
  background-color white
  border-top: 11px solid #668049;
  border-bottom: 11px solid #668049;
  padding: 60px 45px 0;
  -webkit-box-shadow: inset 0px 4px 4px 0px rgba(0,0,0,0.3), inset 0px -4px 4px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: inset 0px 4px 4px 0px rgba(0,0,0,0.3), inset 0px -4px 4px 0px rgba(0,0,0,0.3);
  box-shadow: inset 0px 4px 4px 0px rgba(0,0,0,0.3), inset 0px -4px 4px 0px rgba(0,0,0,0.3);

#estrategias-section > div
  margin-top: 4em;

#estrategias-section h4
  background-color #24AAE1

#estrategias-section .gotMargin
  margin-left 15%
  margin-bottom 3em

#estrategias-section .gotMargin div:first-child
  margin-right: 5%;

#estrategias-section .titulo
  color #24aae1

#estrategias-section .cuerpo
  color black

#contacto-section .titulo
  color clrDarkGreen
  font-size: 1.7em;

.headerContacto
  padding-top 17px
  overflow hidden
  max-width: maxWidth
  margin: 0 auto;
  background: none

#contacto-section
  padding-top: 3em;

#contacto-section > div, form
  margin-top: 1.2em;

#contacto-section .dir
  float none
  margin-top: 10em;

#contacto-section p, li
  font-size 1.3em

#contacto-section input, textarea
  width 100%
  background-color #CCD6B6
  font-size: 1.7em;
  margin-bottom: 15px;
  border-radius 4px
  padding: 1px 10px;

#contacto-section textarea
  height 9em

#contacto-section input[type="submit"]
  width: 95px;
  font-style italic
  color clrDarkGreen
  background-color #A7B790
  position: absolute
  bottom: 10px;
  right: 30px;

.fondo
  background: url('imgs/contacto.png')
  height: 320px;
  position: relative;
  bottom: 150;
  z-index: -999;

.triangleRight
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 8px 0 8px 13.9px;
  border-color: transparent transparent transparent blue;
  position: relative;

.triangleDown
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 13.9px 8px 0 8px;
  border-color: blue transparent transparent transparent;
  position: relative;

.contactoTriangle
  border-color: transparent transparent transparent white;
  left: 805px;
  top: -76px;

.noticiasTriangle
  border-color: clrLightGreen transparent transparent transparent;
  top: -40px;
  left: 10px;


::-webkit-input-placeholder { /* WebKit browsers */
  color:    white
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color:    white
  opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  color:    white
  opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
  color:    white
}


